# ----------------------------------------------------
# DATABASE CONFIGURATION
# ----------------------------------------------------
DATABASE_URL=postgres://username:password@ep-cool-cloud-123456.us-east-2.aws.neon.tech/neondb?sslmode=require

# ----------------------------------------------------
# EMAIL CONFIGURATION (GMAIL)
# ----------------------------------------------------
SMTP_USER=your-email@gmail.com
SMTP_PASS=abcd1234efgh5678

# ----------------------------------------------------
# AI CONFIGURATION (GEMINI)
# ----------------------------------------------------
GEMINI_API_KEY=your_free_api_key_here
